# Node modules
node_modules/

# TypeScript output
dist/
build/
*.js
*.js.map
*.d.ts
.tsbuildinfo

# Env files
.env

# Logs
*.log

# IDE/editor files
.vscode/
.idea/

# Archivos personales
notas-personales.md
