.eurogames-section {
    background-color: #eaeaea;
    margin-top: 0%;
}

.euro-titulo-destacados {
    text-align: center;
    padding: 1.5rem;
    color: #000000;
    margin: 0;
    font-size: 2rem;
}

