.familiares-section {
    background-color: #eaeaea;
    margin-top: 0%;
    padding-bottom: 3rem;
}

.familiares-titulo {
    text-align: center;
    padding: 1.5rem;
    color: #000000;
    margin: 0;
    font-size: 2rem;
}

.familiares-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filtros-familiares {
    gap: 1rem;
    display: flex;
}

.filtros-familiares input {
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contador-familiares-juegos {
    font-weight: bold;
    color: #000000;
  }