.productos-destacados {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 3rem;
    text-align: center;
    background-color: #eaeaea;
  }
  
  .titulo-destacados {
    font-size: 2rem;
    color: #000000;
    margin: 0%;
    padding: 1.5rem;
  }
  
  .contenedor-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  
  /* Tablet: 2 columnas */
  @media (min-width: 768px) and (max-width: 1199px) {
    .contenedor-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Escritorio: 3 columnas */
  @media (min-width: 1200px) {
    .contenedor-cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  